---
import { ViewTransitions } from "astro:transitions"
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/cse130-notes/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      rel='preload'
      href='https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@700&family=Fira+Code&display=swap'
      as='style'
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@700&family=Fira+Code&display=swap'
      /></noscript
    >
    <title>{title}</title>
  </head>
  <body>
    <script>
      import type { TransitionBeforePreparationEvent } from "astro/virtual-modules/transitions-events.js"
      document.addEventListener("astro:before-preparation", ev => {
        const event = ev as TransitionBeforePreparationEvent
        if (!event.from.pathname.startsWith("/cse130-notes/notes")) {
          return
        }
        if (event.from.pathname.endsWith("notes/")) {
          event.preventDefault()
          return
        }
        if (event.to.pathname.endsWith("notes/")) {
          return
        }
        if (!event.sourceElement) {
          return
        }
        switch (event.sourceElement.className) {
          case "next":
            event.direction = "forward"
            break
          case "prev":
            event.direction = "back"
            break
          default:
            break
        }
      })
    </script>
    <slot />
    <style is:global>
      img {
        margin: auto;
        display: block;
        max-width: 100%;
        height: auto;
        background-color: var(--gray-10);
        border-radius: 0.5rem;
        aspect-ratio: attr(width) / attr(height);
      }
      li > p {
        display: none;
      }
      :root {
        --violet-1: #02001f;
        --violet-2: #03002e;
        --violet-5: #09004a;
        --violet-10: #100069;
        --violet-20: #1f00a4;
        --violet-30: #3728c2;
        --violet-40: #5047da;
        --violet-50: #6a62f4;
        --violet-60: #8681ff;
        --violet-70: #a5a1ff;
        --violet-80: #c3c0ff;
        --violet-90: #e3dfff;
        --violet-95: #f2efff;
        --violet-98: #fcf8ff;
        --violet-99: #fffbff;
        --seafoam-1: #000502;
        --seafoam-2: #000a05;
        --seafoam-5: #00150c;
        --seafoam-10: #002115;
        --seafoam-20: #043827;
        --seafoam-30: #214f3d;
        --seafoam-40: #3a6754;
        --seafoam-50: #52806c;
        --seafoam-60: #6c9b85;
        --seafoam-70: #86b59e;
        --seafoam-80: #a0d1b9;
        --seafoam-90: #bceed5;
        --seafoam-95: #cafce3;
        --seafoam-98: #e7fff1;
        --seafoam-99: #f4fff7;
        --gray-1: #020403;
        --gray-2: #050807;
        --gray-5: #0e120f;
        --gray-10: #191c1a;
        --gray-20: #2e312d;
        --gray-30: #454843;
        --gray-40: #5e5f59;
        --gray-50: #777771;
        --gray-60: #93918a;
        --gray-70: #aeaba3;
        --gray-80: #cbc6bd;
        --gray-90: #e8e2d8;
        --gray-95: #f7f0e6;
        --gray-98: #fff8f3;
        --gray-99: #fffbff;
        --gray-1-rgb: 2, 4, 3;
        --gray-2-rgb: 5, 8, 7;
        --gray-5-rgb: 14, 18, 15;
        --gray-10-rgb: 25, 28, 26;
        --gray-20-rgb: 46, 49, 45;
        --gray-30-rgb: 69, 72, 67;
        --gray-40-rgb: 94, 95, 89;
        --gray-50-rgb: 119, 119, 113;
        --gray-60-rgb: 147, 145, 138;
        --gray-70-rgb: 174, 171, 163;
        --gray-80-rgb: 203, 198, 189;
        --gray-90-rgb: 232, 226, 216;
        --gray-95-rgb: 247, 240, 230;
        --gray-98-rgb: 255, 248, 243;
        --gray-99-rgb: 255, 251, 255;
        background-color: var(--gray-1);
        color: var(--gray-99);
      }

      @media (prefers-color-scheme: light) {
        :root {
          --violet-99: #02001f;
          --violet-98: #03002e;
          --violet-95: #09004a;
          --violet-90: #100069;
          --violet-80: #1f00a4;
          --violet-70: #3728c2;
          --violet-60: #5047da;
          --violet-50: #6a62f4;
          --violet-40: #8681ff;
          --violet-30: #a5a1ff;
          --violet-20: #c3c0ff;
          --violet-10: #e3dfff;
          --violet-5: #f2efff;
          --violet-2: #fcf8ff;
          --violet-1: #fffbff;
          --seafoam-99: #000502;
          --seafoam-98: #000a05;
          --seafoam-95: #00150c;
          --seafoam-90: #002115;
          --seafoam-80: #043827;
          --seafoam-70: #214f3d;
          --seafoam-60: #3a6754;
          --seafoam-50: #52806c;
          --seafoam-40: #6c9b85;
          --seafoam-30: #86b59e;
          --seafoam-20: #a0d1b9;
          --seafoam-10: #bceed5;
          --seafoam-5: #cafce3;
          --seafoam-2: #e7fff1;
          --seafoam-1: #f4fff7;
          --gray-99: #020403;
          --gray-98: #050807;
          --gray-95: #0e120f;
          --gray-90: #191c1a;
          --gray-80: #2e312d;
          --gray-70: #454843;
          --gray-60: #5e5f59;
          --gray-50: #777771;
          --gray-40: #93918a;
          --gray-30: #aeaba3;
          --gray-20: #cbc6bd;
          --gray-10: #e8e2d8;
          --gray-5: #f7f0e6;
          --gray-2: #fff8f3;
          --gray-1: #fffbff;
          --gray-99-rgb: 2, 4, 3;
          --gray-98-rgb: 5, 8, 7;
          --gray-95-rgb: 14, 18, 15;
          --gray-90-rgb: 25, 28, 26;
          --gray-80-rgb: 46, 49, 45;
          --gray-70-rgb: 69, 72, 67;
          --gray-60-rgb: 94, 95, 89;
          --gray-50-rgb: 119, 119, 113;
          --gray-40-rgb: 147, 145, 138;
          --gray-30-rgb: 174, 171, 163;
          --gray-20-rgb: 203, 198, 189;
          --gray-10-rgb: 232, 226, 216;
          --gray-5-rgb: 247, 240, 230;
          --gray-2-rgb: 255, 248, 243;
          --gray-1-rgb: 255, 251, 255;
        }
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header {
        font-family: "Comfortaa", sans-serif;
        color: var(--seafoam-70);
        margin: 0;
        padding-bottom: 1rem;
      }

      p {
        margin: 0;
        line-height: 1.5;
        padding-bottom: 1rem;
      }

      h1 {
        color: var(--violet-80);
      }
      h2 {
        color: var(--seafoam-80);
      }
      h3 {
        color: var(--seafoam-70);
      }
      h4 {
        color: var(--seafoam-60);
      }

      * {
        break-inside: auto !important;
        page-break-inside: auto !important;
      }

      body {
        font-family:
          "Atkinson Hyperlegible",
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        font-size: 18px;
        overflow-x: clip;
      }
      a {
        color: var(--violet-70);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      main {
        max-width: 800px;
        margin: 0 auto;
        background-color: var(--gray-5);
        color: var(--gray-95);
        padding: 1rem;
      }
      :target {
        padding: 1rem 0.5rem;
        background-color: var(--seafoam-10);
        outline: 1px solid currentColor;
        border-radius: 0.25rem;
      }

      code {
        font-family: "Fira Code", monospace;
        background-color: var(--violet-5);
        border: 1px solid var(--violet-50);
        display: inline-block;
        margin: 0.125rem;
        padding: 0.125rem 0.125rem;
        font-size: 14px;
        color: var(--gray-10);
        white-space: pre-wrap;
        border-radius: 0.25rem;
      }
      pre > code {
        background-color: transparent;
        border: none;
      }
      pre:has(code) {
        padding: 0.5rem;
        white-space: pre-wrap;
        border-radius: 0.25rem;
      }
    </style>
  </body>
</html>
